/*.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}*/
/* grid line */
/*.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}
.item1{
  grid-column-start: 1;
  grid-column-end: 3;
}*/

/* grid container */
/* grid template columns */
/*.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}*/

/* grid template row */
/*.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}*/

/*justify-content*/
/*.grid-container{
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}*/

/* align item */
/*.grid-container{
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}*/

/* grid item */
/*.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}
.item1{
  grid-column: 1/5;
}*/

/* grid row */
/*.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}
.item1{
  grid-row: 1/4;
}*/

/* naming grid item */
/*.item1{
  grid-area: myarea;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}*/

/* order item */
/*.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  padding: 10px;
  
}
.grid-item{
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  font-size: 30px;
  background: rgba(255, 255, 255, 0.8)
}
.item1{
  grid-area: 1/3/2/4;
}
.item2{
  grid-area: 2/3/3/4;
}
.item3{
  grid-area: 1/1/2/2;
}
.item4{
  grid-area: 1/2/2/3;
}
.item5{
  grid-area: 2/1/3/2;
}
.item6{
  grid-area: 2/2/3/3;
}*/